<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuzhou.mapper.cust.bxy.ClientInfoMapper">
	<resultMap type="clientInfo" id="infoResult">
		<id column="clientCode" property="clientCode" />
		<result column="clientName" property="clientName" />
		<result column="clietnLevelId" property="clietnLevelId" />
		<result column="clientAreaId" property="clientAreaId" />
		<association property="sysuser" javaType="Sysuser">
			<id column="userId" property="userId" />
			<result column="userName" property="userName" />
		</association>
		<association property="dataArea" javaType="DataArea">
			<id column="daId" property="daId" />
			<result column="daName" property="daName" />
		</association>
	</resultMap>

	<select id="selectClient" resultMap="infoResult">
		select
		cl.clientCode,cl.clientName,da.daName,sy.userName,cl.clientLevelId
		from clientinfo cl,sysuser sy,dataarea da
		where cl.clientAreaId=da.daId
		and
		cl.clientCustId=sy.userRoleId
	</select>

	<!-- 多条件模糊查询 -->
	<resultMap type="clientInfo" id="clientpagingResult">
		<id column="clientCode" property="clientCode" />
		<result column="clientName" property="clientName" />
		<result column="clietnLevelId" property="clietnLevelId" />
		<result column="clientAreaId" property="clientAreaId" />
		<association property="sysuser" javaType="Sysuser">
			<id column="userId" property="userId" />
			<result column="userName" property="userName" />
		</association>
		<association property="dataArea" javaType="DataArea">
			<id column="daId" property="daId" />
			<result column="daName" property="daName" />
		</association>
	</resultMap>
	<select id="selectClientPaging" resultMap="clientpagingResult">
		select
		cl.clientCode,cl.clientName,da.daName,sy.userName,cl.clientLevelId
		from clientinfo cl,sysuser sy,dataarea da
		where cl.clientAreaId=da.daId
		and
		cl.clientCustId=sy.userRoleId
		and
		<where>
			<if test="clientCode!=null and clientCode!=''">
				and cl.clientCode like concat('%',#{clientCode},'%')
			</if>
			<if test="clientName!=null and clientName!=''">
				and cl.clientName like concat('%',#{clientName},'%')
			</if>
			<if test="daId!=null and daId!=''">
				and da.daId like concat('%',#{daId},'%')
			</if>
			<if test="userId!=null and userId!=''">
				and sy.userId like concat('%',#{userId},'%')
			</if>
			<if test="clietnLevelId!=null and clietnLevelId!=''">
				and cl.clietnLevelId like concat('%',#{clietnLevelId},'%')
			</if>
		</where>
		order by cl.clientCode
		limit #{beginNum},#{maxPageNum}
	</select>


</mapper>